*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    padding-top: 50px;
}
.input{
    background-color: antiquewhite;
    width: 450px;
    height: 650px;
    margin: 0 auto 0 auto;
    border-radius: 10px;
}
.iterm{
    background-color: white;
    width: 400px;
    height: 600px;
    margin: 10px 28px;
    border-radius: 10px;
    
}
.images{
    width: 200px;

    
}
