*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    padding-top: 50px;
}
.main-container{
    height: 650px;
    width: 350px;
    background-color:white; 
    margin: 0 auto 0 auto; 
    padding-bottom: 50px;
    gap: 50px;
    border-radius: 5px;
   
}
.iterm p {
     margin-left:30px;
    margin-top: 10px; 
    
}
.iterm h1 {
    margin-left: 30px;
} 
.images{
    width: 350px;
    height: 300px;
    padding-bottom: 50px;
    border-radius: 5px;
    
} 
.iterm-div{
    margin-left:30px;
    letter-spacing: 5px;
}

 .input{
     background-color: antiquewhite; 
     height: 700px;
     width: 400px;
     margin: 0 auto 0 auto;
     border-radius: 10px;
     padding-top: 20px;
}   

 .iterm h2{
     margin-left: 30px;
    margin-top: 10px; 
    color: green;
    
    
}
.iterm s{
 display: flex; 
 align-items: center;
 flex-direction: row; 
 padding-bottom: 20px; 
  float: right;   
}
.chart{
     padding-top: 20px;
      display: flex; 
     justify-content: center; 
     float: right; 
    background-color: green;
     width: 280px;
      cursor: pointer; 
      padding-bottom: 10px; 
      border-radius: 10px;
        margin-block: 30px;         
}  

